@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Montserrat:wght@300&display=swap');

:root {
    --color-primary: rgb(0, 0, 0, 0.6);
    --color-secondary: #FFF9EB;
    --color-tertiary: #22130c;
    --color-button: #000000;
    --color-button-hover: #331c11;

    --font-primary: 'Dosis', sans-serif;
    --font-secondary: 'Montserrat', sans-serif;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url('./assets/coffee-6171744_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 30px 0;
    color: var(--color-secondary);
    font-family: var(--font-primary);
}

/* Seção de entrada */
.input-section {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    font-family: var(--font-primary);
}

/* Títulos e passos*/
.main-title {
    box-align:center;
    text-align: center;
    font-size: 2.81rem;
    font-family: var(--font-primary);
    color: var(--color-secondary);
}

.titulo-secundario {
    font-family: var(--font-primary);
    font-size: 1.87rem;
    font-weight: 500;
    color: var(--color-secondary);
    margin: 10px 0;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Contêineres de entrada */
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

.adicionar {
    border-radius: 0 25px 25px 0;
}

.input-friends {
    width: 100%;
    padding: 15px;
    border-radius: 25px 0 0 25px;
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    box-shadow: 0 4px 8px rgba(207, 164, 70, 0.3);
}

/* Estilos de botão */
button {
    width: 200px;
    padding: 15px 30px;
    font-family: var(--font-secondary);
    font-size: 1.25rem;
    background-color: var(--color-button);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(207, 164, 70, 0.3);
    cursor: pointer;
    justify-content: center;
    color: var(--color-secondary);
}

button:hover {
    background-color: var(--color-button-hover);
}  

/* Listas */
.friends-list {
    list-style-type: circle;
    color: var(--color-secondary);
    font-family: var(--font-primary);
    font-size: 1.75rem;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--color-secondary);
    font-family: var(--font-primary); 
    font-size: 2.18rem;
    text-align: center;
}

@media (max-width: 466px) {
    .button-container {
        flex-direction: column;
    }

    .input-wrapper {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
    }

    .input-friends {
        flex-direction: column;
        border-radius: 25px;
    }

    .adicionar {
        width: 200px;
        border-radius: 25px;
    }
}